html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none !important; }

/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: "Helvetica Neue Cyr Thin";
  src: url("http://test.steko.bg/webfonts/HelveticaNeueCyr-Thin.eot");
  src: url("http://test.steko.bg/webfonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("http://test.steko.bg/webfonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("http://test.steko.bg/webfonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-size: 2.14em; }

h2 {
  font-size: 1.71em; }

h3 {
  font-size: 1.43em; }

h4 {
  font-size: 1.14em; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
  background: #fff;
  height: 100%; }

@media (max-width: 575.98px) {
  h1,
  h2,
  h3 {
    font-size: 16px !important; } }
@media (max-width: 767.98px) {
  h1,
  h2,
  h3 {
    font-size: 22px; } }
.rotary-btn {
  width: 80px;
  height: 80px;
  text-align: center;
  background: #01477f;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border: 6px solid #fff;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 20px;
  display: inline-block; }
  .rotary-btn img {
    text-align: center;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    margin: 0 auto;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    max-width: 100%;
    height: auto; }
  .rotary-btn:hover {
    background-color: #fec200;
    -webkit-box-shadow: 4px 0 25px 5px rgba(0, 0, 0, 0.1);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); }
    .rotary-btn:hover img {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg); }

a.main-btn,
button.main-btn {
  position: relative;
  letter-spacing: 0.5px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  line-height: normal;
  display: inline-block;
  margin: 10px 0px 0px 0px;
  outline: none;
  z-index: 1;
  background-color: #fec200;
  color: #01477f;
  border: 1px solid transparent;
  font-size: 13px;
  padding: 13px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }
  a.main-btn span,
  button.main-btn span {
    margin: 0 0 0 40px; }
  a.main-btn::after,
  button.main-btn::after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 200%;
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.main-btn:hover,
  button.main-btn:hover {
    color: #ffffff;
    background-color: #01477f; }

.top-btn {
  position: fixed;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 0;
  text-indent: 100%;
  z-index: 999;
  text-indent: -9999px;
  background-color: #333;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  border: 3px solid #fff;
  display: none; }
  .top-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background: #fff;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .top-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    background: url(img/top-arrow.png) no-repeat center;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background-size: 50%; }
  .top-btn:hover {
    display: inline; }
    .top-btn:hover::before {
      width: 45px;
      height: 45px; }
    .top-btn:hover::after {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s; }

.main-title {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .main-title .main-title-content {
    margin-bottom: 30px;
    position: relative;
    float: left; }
    .main-title .main-title-content h1 {
      color: #fff;
      padding: 17px 10px 15px 20px;
      position: relative;
      z-index: 1;
      margin: 0px;
      left: 0px;
      text-transform: uppercase;
      background-color: #fec200;
      font-size: 22px; }
    .main-title .main-title-content::before {
      background-color: #fec200;
      content: "";
      position: absolute;
      right: -16px;
      top: 0px;
      width: 100%;
      height: 100%;
      -webkit-transform: skewX(30deg);
      transform: skewX(30deg);
      -ms-transform: skewX(30deg); }
    .main-title .main-title-content::after {
      content: "";
      height: 100%;
      top: 0px;
      left: 114%;
      left: -webkit-calc(100% - -26px);
      left: -moz-calc(100% - -26px);
      left: calc(100% - -26px);
      position: absolute;
      -ms-transform: skewX(30deg);
      -webkit-transform: skewX(30deg);
      transform: skewX(30deg);
      width: 9000px;
      background: #f3f3f3; }

#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

header i {
  color: #fec200; }
header a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  header a:hover {
    color: #fec200; }

main {
  flex: 1 0 auto; }

#top-bar {
  width: 100%;
  padding: 5px 0;
  background: #f5f5f5; }
  #top-bar .top-bar-container {
    display: flex;
    font-size: 14px; }
    #top-bar .top-bar-container .top-bar-left {
      margin-right: auto; }
    #top-bar .top-bar-container .top-bar-right {
      margin-left: auto; }
    @media (max-width: 991.98px) {
      #top-bar .top-bar-container {
        display: block;
        text-align: center; } }

.logo-contact-info-container {
  display: flex;
  margin-top: 20px; }
  .logo-contact-info-container .logo {
    margin-right: auto; }
  .logo-contact-info-container .contact-info {
    margin-left: auto;
    display: flex;
    align-items: center; }
    .logo-contact-info-container .contact-info ul {
      border-left: 1px solid #ccc;
      padding-left: 10px;
      margin-left: 10px; }
    .logo-contact-info-container .contact-info i {
      padding-left: 10px; }
  @media (max-width: 991.98px) {
    .logo-contact-info-container {
      display: block;
      text-align: center; }
      .logo-contact-info-container .contact-info {
        display: block;
        text-align: center; }
        .logo-contact-info-container .contact-info ul {
          border: 0px;
          padding: 0;
          margin: 0; }
        .logo-contact-info-container .contact-info i {
          padding: 0; } }

.navbar-light {
  border-top: 1px solid #ccc;
  margin-top: 20px; }
  .navbar-light .navbar-nav {
    display: flex !important; }
    .navbar-light .navbar-nav .nav-link {
      text-transform: uppercase;
      font-weight: bold;
      color: #000;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      .navbar-light .navbar-nav .nav-link:hover {
        color: #fec200; }
      .navbar-light .navbar-nav .nav-link.current {
        color: #fec200; }
    .navbar-light .navbar-nav .mega-dropdown {
      position: static !important; }
      .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu {
        padding: 10px 10px;
        width: 100%;
        background: #fff url(img/nav-bg.jpg) no-repeat center center;
        background-size: cover; }
        .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu .dropdown-header {
          color: #01477f;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 700;
          border-left: 5px solid #fec200;
          white-space: normal !important;
          margin: 10px 0;
          padding: 0px 0px 0px 10px !important; }
        .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu ul {
          list-style: none;
          margin: 10px 0; }
        .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu li {
          position: relative; }
          .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu li::before {
            position: absolute;
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #fec200;
            left: 0;
            bottom: 0;
            top: auto;
            z-index: 9;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            transition: all 0.3s linear; }
          .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu li:hover::before {
            width: 100%; }
          .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu li a {
            color: #000;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            padding: 5px 0;
            display: block; }
            .navbar-light .navbar-nav .mega-dropdown .mega-dropdown-menu li a.current {
              border-bottom: 2px solid #fec200; }
    .navbar-light .navbar-nav .show > .nav-link {
      color: #fec200; }
  @media (max-width: 991.98px) {
    .navbar-light .nav-fill .nav-item {
      text-align: left; } }

.carousel-item img {
  width: 100%; }
.carousel-item .slider-header-wrap {
  position: absolute;
  width: 80%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-transform: uppercase; }
  .carousel-item .slider-header-wrap .slider-header {
    background: #01477f;
    padding: 10px 5px;
    opacity: 0.8; }
  .carousel-item .slider-header-wrap .slider-sub-header {
    background: #fec200;
    padding: 10px 5px;
    opacity: 0.8; }
    @media (max-width: 991.98px) {
      .carousel-item .slider-header-wrap .slider-sub-header {
        display: none; } }

.short-presentation-bg {
  width: 100%;
  background: url(img/hand-with-cap.png) no-repeat right top;
  background-size: cover; }
  .short-presentation-bg .short-presentation {
    position: relative;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 24px 0px;
    padding: 10px;
    margin-top: -75px; }
    .short-presentation-bg .short-presentation .short-presentation-row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .short-presentation-bg .short-presentation .short-presentation-row .short-presentation-box {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px; }
        .short-presentation-bg .short-presentation .short-presentation-row .short-presentation-box h3 {
          text-transform: uppercase; }
    .short-presentation-bg .short-presentation h1 {
      color: #01477f;
      text-transform: uppercase; }
    .short-presentation-bg .short-presentation .color-yellow {
      color: #fec200; }
    @media (max-width: 991.98px) {
      .short-presentation-bg .short-presentation {
        margin-top: 0px; }
        .short-presentation-bg .short-presentation .short-presentation-row .short-presentation-box {
          flex: 0 0 100%;
          max-width: 100%; } }

#image-links-wrap {
  margin-top: 20px; }
  #image-links-wrap .image-links-box-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }
    #image-links-wrap .image-links-box-wrap .image-links-box {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 5px;
      margin-bottom: 5px; }
      @media (max-width: 991.98px) {
        #image-links-wrap .image-links-box-wrap .image-links-box {
          flex: 0 0 33.333333%;
          max-width: 33.333333%; } }
      @media (max-width: 767.98px) {
        #image-links-wrap .image-links-box-wrap .image-links-box {
          flex: 0 0 50%;
          max-width: 50%; } }
      @media (max-width: 575.98px) {
        #image-links-wrap .image-links-box-wrap .image-links-box {
          flex: 0 0 100%;
          max-width: 100%; } }
      #image-links-wrap .image-links-box-wrap .image-links-box figure {
        position: relative;
        display: block;
        overflow: hidden; }
        #image-links-wrap .image-links-box-wrap .image-links-box figure .image-links-overlay {
          background: rgba(1, 71, 127, 0.75);
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
          color: #fff;
          position: absolute;
          opacity: 0;
          display: block;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          overflow: hidden; }
          #image-links-wrap .image-links-box-wrap .image-links-box figure .image-links-overlay .image-links-title {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            text-transform: uppercase; }
            #image-links-wrap .image-links-box-wrap .image-links-box figure .image-links-overlay .image-links-title h3 > a {
              color: #fff; }
      #image-links-wrap .image-links-box-wrap .image-links-box:hover .image-links-overlay {
        opacity: 1; }
      #image-links-wrap .image-links-box-wrap .image-links-box img {
        width: 100%;
        height: auto; }

.full-company-presentation h1,
.full-company-presentation h2 {
  color: #01477f;
  text-transform: uppercase; }
  .full-company-presentation h1 .color-yellow,
  .full-company-presentation h2 .color-yellow {
    color: #fec200; }
.full-company-presentation .full-company-presentation-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px; }
  .full-company-presentation .full-company-presentation-row .full-company-presentation-box {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px; }
    .full-company-presentation .full-company-presentation-row .full-company-presentation-box .img-wrap img {
      max-width: 100%;
      height: auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border: 10px solid #fff;
      background-color: #fff;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.2); }
    @media (max-width: 991.98px) {
      .full-company-presentation .full-company-presentation-row .full-company-presentation-box {
        flex: 0 0 100%;
        max-width: 100%; }
        .full-company-presentation .full-company-presentation-row .full-company-presentation-box.hidden-box {
          display: none; } }

#map {
  margin-bottom: 20px; }
  #map iframe {
    width: 100%;
    height: 600px;
    border: none; }

#contacts-boxes .contacts-boxes-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  #contacts-boxes .contacts-boxes-wrap .contacts-box {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 15px;
    padding-right: 15px; }
    #contacts-boxes .contacts-boxes-wrap .contacts-box .contacts-box-outer {
      background-color: #fec200;
      position: relative;
      padding: 40px 20px 90px;
      text-align: center;
      margin-bottom: 30px; }
      #contacts-boxes .contacts-boxes-wrap .contacts-box .contacts-box-outer h6 {
        color: #fff;
        text-transform: uppercase; }
      #contacts-boxes .contacts-boxes-wrap .contacts-box .contacts-box-outer::before {
        border-color: rgba(255, 255, 255, 0.4);
        border-style: solid;
        border-width: 1px 1px 0;
        content: "";
        height: auto;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        top: 10px;
        width: auto; }
      #contacts-boxes .contacts-boxes-wrap .contacts-box .contacts-box-outer::after {
        background: #fff;
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: -30px;
        width: 60px;
        height: 60px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      #contacts-boxes .contacts-boxes-wrap .contacts-box .contacts-box-outer .icon {
        color: #fec200;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: -30px;
        top: auto;
        font-size: 32px;
        line-height: 60px;
        z-index: 1; }
@media (max-width: 991.98px) {
  #contacts-boxes .contacts-boxes-wrap .contacts-box {
    flex: 0 0 50%;
    max-width: 50%; } }
@media (max-width: 767.98px) {
  #contacts-boxes .contacts-boxes-wrap .contacts-box {
    flex: 0 0 100%;
    max-width: 100%; } }

#contact-form-arena .contact-form input,
#contact-form-arena .contact-form textarea {
  border-width: 0 0 2px 0;
  padding: 14px 0;
  resize: none; }
#contact-form-arena .contact-form .form-group {
  position: relative; }
  #contact-form-arena .contact-form .form-group::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 9;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  #contact-form-arena .contact-form .form-group:hover::before {
    width: 100%; }
#contact-form-arena .contact-form .form-control:focus {
  border: none;
  box-shadow: none; }
#contact-form-arena .contact-form .inputs-holder {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px; }
  #contact-form-arena .contact-form .inputs-holder .input-box {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px; }
    @media (max-width: 991.98px) {
      #contact-form-arena .contact-form .inputs-holder .input-box {
        flex: 0 0 100%;
        max-width: 100%; } }

#yellow-arena {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 230px;
  margin-top: 20px; }
  #yellow-arena .light-yellow {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 230px;
    background: #fec200; }
  #yellow-arena .dark-yellow {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 230px;
    background: #efb90b;
    position: relative; }
    #yellow-arena .dark-yellow::before {
      position: absolute;
      content: "";
      border-right: 40px solid;
      border-top: 115px solid transparent;
      border-bottom: 115px solid transparent;
      left: -40px;
      top: 0;
      z-index: 9;
      color: #efb90b; }
  #yellow-arena .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-transform: uppercase;
    color: #01477f; }
    #yellow-arena .container h2 {
      margin-bottom: 20px; }
    #yellow-arena .container .footer-content-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      #yellow-arena .container .footer-content-wrap .content-left {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 60px; }
      #yellow-arena .container .footer-content-wrap .content-right {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 20px; }
        #yellow-arena .container .footer-content-wrap .content-right .content-right-btn {
          float: right; }
          #yellow-arena .container .footer-content-wrap .content-right .content-right-btn a {
            padding: 16px 40px;
            border: 1px solid #01477f;
            text-transform: uppercase;
            display: inline-block;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            color: #666; }
            #yellow-arena .container .footer-content-wrap .content-right .content-right-btn a:hover {
              color: #fec200;
              background-color: #01477f; }
  @media (max-width: 991.98px) {
    #yellow-arena .light-yellow {
      flex: 0 0 100%;
      max-width: 100%; }
    #yellow-arena .dark-yellow {
      flex: 0 0 100%;
      max-width: 100%; }
    #yellow-arena .container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0; }
      #yellow-arena .container .footer-content-wrap .content-left {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 180px;
        padding-top: 60px;
        text-align: center; }
      #yellow-arena .container .footer-content-wrap .content-right {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding-left: 0; }
        #yellow-arena .container .footer-content-wrap .content-right .content-right-btn {
          float: none; } }

#blue-arena {
  background: #0069be;
  background: -webkit-linear-gradient(top, #0069be 0%, #01467f 100%);
  background: -moz-linear-gradient(top, #0069be 0%, #01467f 100%);
  background: linear-gradient(top, #0069be 0%, #01467f 100%);
  color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
  padding-bottom: 20px; }
  #blue-arena .blue-arena-box-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    #blue-arena .blue-arena-box-wrap .blue-arena-box {
      padding-left: 15px;
      padding-right: 15px; }
    #blue-arena .blue-arena-box-wrap .blue-arena-box-col-1 {
      flex: 0 0 50%;
      max-width: 50%; }
      #blue-arena .blue-arena-box-wrap .blue-arena-box-col-1 p {
        margin-top: 10px; }
    #blue-arena .blue-arena-box-wrap .blue-arena-box-col-2 {
      flex: 0 0 25%;
      max-width: 25%; }
      #blue-arena .blue-arena-box-wrap .blue-arena-box-col-2 div {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 20px; }
        #blue-arena .blue-arena-box-wrap .blue-arena-box-col-2 div span {
          padding-right: 10px;
          color: #fec200; }
    #blue-arena .blue-arena-box-wrap a {
      color: rgba(255, 255, 255, 0.6);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      #blue-arena .blue-arena-box-wrap a:hover {
        color: #fec200; }
    #blue-arena .blue-arena-box-wrap h5 {
      color: #fff;
      text-transform: uppercase;
      border-left: 4px solid #fec200;
      padding-left: 15px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0px; }
    #blue-arena .blue-arena-box-wrap ul.social {
      font-size: 21px;
      margin-top: 20px; }
      #blue-arena .blue-arena-box-wrap ul.social li {
        display: inline-block;
        padding-right: 20px; }
        #blue-arena .blue-arena-box-wrap ul.social li a {
          color: #fff;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
          #blue-arena .blue-arena-box-wrap ul.social li a:hover {
            color: #fec200; }
    @media (max-width: 991.98px) {
      #blue-arena .blue-arena-box-wrap .blue-arena-box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px; } }

#copyright-arena {
  background-color: #00294a;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 13px; }
  #copyright-arena .copyright-arena-container {
    display: flex;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.6); }
    #copyright-arena .copyright-arena-container .rights {
      margin-right: auto; }
    #copyright-arena .copyright-arena-container .created-by {
      margin-left: auto; }
      #copyright-arena .copyright-arena-container .created-by a {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
        #copyright-arena .copyright-arena-container .created-by a:hover {
          color: #fec200; }
  @media (max-width: 575.98px) {
    #copyright-arena .copyright-arena-container {
      display: block; } }

/*# sourceMappingURL=style.css.map */
