//Yellow arena
#yellow-arena {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 230px;
  margin-top: 20px;

  .light-yellow {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 230px;
    background: $color-yellow;
  }

  .dark-yellow {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 230px;
    background: #efb90b;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border-right: 40px solid;
      border-top: 115px solid transparent;
      border-bottom: 115px solid transparent;
      left: -40px;
      top: 0;
      z-index: 9;
      color: #efb90b;
    }
  }

  //Footer content
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-transform: uppercase;
    color: $color-blue;

    h2 {
      margin-bottom: 20px;
    }

    .footer-content-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .content-left {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 60px;
      }

      .content-right {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 20px;

        .content-right-btn {
          float: right;
          a {
            padding: 16px 40px;
            border: 1px solid $color-blue;
            text-transform: uppercase;
            display: inline-block;
            @include easeOut();
            color: #666;

            &:hover {
              color: $color-yellow;
              background-color: $color-blue;
            }
          }
        }
      }
    }
  }

  @include mediaMd {
    .light-yellow {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .dark-yellow {
      flex: 0 0 100%;
      max-width: 100%;
    }

    //Container Responsive Styles
    .container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;

      .footer-content-wrap {
        .content-left {
          flex: 0 0 100%;
          max-width: 100%;
          padding-right: 0;
          margin-bottom: 140px;
          padding-top: 80px;
          text-align: center;
        }

        .content-right {
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
          padding-left: 0;

          .content-right-btn {
            float: none;
          }
        }
      }
    }
  }
  @include mediaS {
    .container {
      .footer-content-wrap {
        .content-left {
          margin-bottom: 150px;
        }
      }
    }
  }
  @include mediaXS {
    .container {
      .footer-content-wrap {
        .content-left {
          margin-bottom: 170px;
        }
      }
    }
  }
}

//Blue Arena
#blue-arena {
  background: rgb(0, 105, 190);
  background: -webkit-linear-gradient(
    top,
    rgb(0, 105, 190) 0%,
    rgb(1, 70, 127) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgb(0, 105, 190) 0%,
    rgb(1, 70, 127) 100%
  );
  background: linear-gradient(top, rgb(0, 105, 190) 0%, rgb(1, 70, 127) 100%);
  color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;

  .blue-arena-box-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .blue-arena-box {
      padding-left: 15px;
      padding-right: 15px;
    }

    .blue-arena-box-col-1 {
      flex: 0 0 50%;
      max-width: 50%;

      p {
        margin-top: 10px;
      }
    }
    .blue-arena-box-col-2 {
      flex: 0 0 25%;
      max-width: 25%;

      div {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 20px;

        span {
          padding-right: 10px;
          color: $color-yellow;
        }
      }
    }

    a {
      color: rgba(255, 255, 255, 0.6);
      @include easeOut();

      &:hover {
        color: $color-yellow;
      }
    }

    h5 {
      color: #fff;
      text-transform: uppercase;
      border-left: 4px solid $color-yellow;
      padding-left: 15px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0px;
    }

    ul.social {
      font-size: 21px;
      margin-top: 20px;
      li {
        display: inline-block;
        padding-right: 20px;

        a {
          color: #fff;
          @include easeOut();

          &:hover {
            color: $color-yellow;
          }
        }
      }
    }

    @include mediaMd {
      .blue-arena-box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

//Copyright
#copyright-arena {
  background-color: #00294a;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 13px;

  .copyright-arena-container {
    display: flex;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.6);

    .rights {
      margin-right: auto;
    }

    .created-by {
      margin-left: auto;

      a {
        @include easeOut();

        &:hover {
          color: $color-yellow;
        }
      }
    }
  }
  @include mediaXS {
    .copyright-arena-container {
      display: block;
    }
  }
}
