//Yellow arena
#yellow-arena {
  .yellow-arena-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 230px;

    .yellow-arena-col {
      padding-left: 15px;
      padding-right: 15px;
      min-height: 230px;
      position: relative;
      text-transform: uppercase;
      color: $color-blue;

      &.yellow-arena-light {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
        background: $color-yellow;
        padding-top: 55px;
        padding-bottom: 35px;
        padding-right: 60px;

        &::after {
          background: $color-yellow;
          content: "";
          height: 100%;
          width: 9999px;
          position: absolute;
          top: 0;
          right: 100%;
        }
        h2 {
          font-weight: 700;
        }
      }

      &.yellow-arena-dark {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        background: #efb90b;
        padding-top: 80px;
        padding-bottom: 50px;
        text-align: center;
        &::after {
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          width: 9999px;
          left: 100%;
          background: #efb90b;
        }
        &::before {
          position: absolute;
          content: "";
          border-right: 40px solid;
          border-top: 115px solid transparent;
          border-bottom: 115px solid transparent;
          left: -40px;
          top: 0;
          z-index: 9;
          color: #efb90b;
        }
        a {
          padding: 16px 40px;
          border: 1px solid #01477f;
          display: inline-block;
          @include easeOut();
          color: #666;
          text-align: center;

          &:hover {
            color: $color-yellow;
            background-color: $color-blue;
          }
        }
      }
    }
  }
  @include mediaMd {
    .yellow-arena-row {
      .yellow-arena-col {
        &.yellow-arena-light {
          padding-right: 0px;
        }
        &.yellow-arena-dark {
          &::before {
            border: none;
          }
        }
      }
    }
  }
  @include mediaS {
    min-height: auto;
    .yellow-arena-row {
      padding-right: 36px;
      padding-left: 36px;
      .yellow-arena-col {
        &.yellow-arena-light {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 20px;
          padding-top: 60px;
          padding-bottom: 60px;
          min-height: auto;
        }
        &.yellow-arena-dark {
          flex: 0 0 100%;
          max-width: 100%;
          padding-bottom: 60px;
          padding-top: 60px;
          min-height: auto;
          text-align: left;
        }
      }
    }
  }
  @include mediaXS {
    .yellow-arena-row {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}

//Blue Arena
#blue-arena {
  background: rgb(0, 105, 190);
  background: -webkit-linear-gradient(
    top,
    rgb(0, 105, 190) 0%,
    rgb(1, 70, 127) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgb(0, 105, 190) 0%,
    rgb(1, 70, 127) 100%
  );
  background: linear-gradient(top, rgb(0, 105, 190) 0%, rgb(1, 70, 127) 100%);
  color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;

  .blue-arena-box-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .blue-arena-box {
      padding-left: 15px;
      padding-right: 15px;
    }

    .blue-arena-box-col-1 {
      flex: 0 0 50%;
      max-width: 50%;

      p {
        margin-top: 10px;
      }
    }
    .blue-arena-box-col-2 {
      flex: 0 0 25%;
      max-width: 25%;

      div {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 20px;

        span {
          padding-right: 10px;
          color: $color-yellow;
        }
      }
    }

    a {
      color: rgba(255, 255, 255, 0.6);
      @include easeOut();

      &:hover {
        color: $color-yellow;
      }
    }

    h5 {
      color: #fff;
      text-transform: uppercase;
      border-left: 4px solid $color-yellow;
      padding-left: 15px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0px;
    }

    ul.social {
      font-size: 21px;
      margin-top: 20px;
      li {
        display: inline-block;
        padding-right: 20px;

        a {
          color: #fff;
          @include easeOut();

          &:hover {
            color: $color-yellow;
          }
        }
      }
    }

    @include mediaMd {
      .blue-arena-box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

//Copyright
#copyright-arena {
  background-color: #00294a;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 13px;

  .copyright-arena-container {
    display: flex;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.6);

    .rights {
      margin-right: auto;
    }

    .created-by {
      margin-left: auto;

      a {
        @include easeOut();

        &:hover {
          color: $color-yellow;
        }
      }
    }
  }
  @include mediaXS {
    .copyright-arena-container {
      display: block;
    }
  }
}
