//TOP BAR
.top-bar-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  i {
    color: $color-yellow;
  }
  .mail-div {
    a {
      color: $main-color;
      text-decoration: none;
      &:hover {
        color: $color-yellow;
        @include easeOut();
      }
    }
  }
}

//Logo And INfo for contacts
.address-info {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  ul {
    margin-left: 15px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
  }

  i {
    color: $color-yellow;
  }
}
