//Short Info on index page
.short-info-wrap {
  background: url(img/hand-with-cap.png) no-repeat right top;
  background-size: cover;

  .short-info {
    position: relative;
    background: $main-bg;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 24px 0px;
    padding: 10px;
    margin-top: -85px;

    h1 {
      color: $color-blue;
    }

    h3 {
      text-transform: uppercase;
    }
    .color-yellow {
      color: $color-yellow;
    }

    @include mediaMd {
      margin: 0;
    }
  }
}

//IMage Links on Index page
.image-links-wrap {
  margin-top: 20px;

  .image-links-box {
    position: relative;
    margin-bottom: 20px;

    img {
      margin: 0;
    }

    .image-links-overlay {
      background: rgba(1, 71, 127, 0.75);
      @include easeOut();
      color: #fff;
      position: absolute;
      opacity: 0;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .image-links-title {
        position: absolute;
        @include easeOut();
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h3 > a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
    &:hover {
      .image-links-overlay {
        opacity: 1;
      }
    }
  }
}
