.navbar-light {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  .navbar-nav {
    display: flex !important;
    .nav-link {
      text-transform: uppercase;
      font-weight: bold;
      color: #000;
      @include easeOut();

      &:hover {
        color: $color-yellow;
      }

      &.current {
        color: $color-yellow;
      }
    }
    //Dropdown
    .mega-dropdown {
      position: static !important;

      .mega-dropdown-menu {
        padding: 10px 10px;
        width: 100%;
        background: #fff url(img/nav-bg.jpg) no-repeat center center;
        background-size: cover;

        .dropdown-header {
          color: $color-blue;
          text-transform: uppercase;
          font-size: $main-font-size + 2;
          font-weight: 700;
          border-left: 5px solid #fec200;
          white-space: normal !important;
          margin: 10px 0;
          padding: 0px 0px 0px 10px !important;
        }

        ul {
          list-style: none;
          margin: 10px 0;
        }
        li {
          position: relative;
          @include LineLeftToRight($color-yellow);
          a {
            color: $main-color;
            font-size: $main-font-size - 2px;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            padding: 5px 0;
            display: block;

            &.current {
              border-bottom: 2px solid $color-yellow;
            }
          }
        }
      }
    }
    .show > .nav-link {
      color: $color-yellow;
    }
  }
  @include mediaMd {
    .nav-fill .nav-item {
      text-align: left;
    }
  }
}
