.page-item {
  &.active .page-link {
    background-color: $color-yellow;
    border-color: #dee2e6;
  }
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $color-blue;
  background-color: #fff;
  border: 1px solid #dee2e6;
  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: #fff;
    background-color: $color-yellow;
  }
}
