@media (max-width: 544px) {
  //Slider
  .slider-header h1 {
    font-size: 16px !important;
  }
}

@media (max-width: 767.98px) {
  .top-bar-wrap {
    display: block;
    text-align: center;
  }

  .l-logo-info,
  .address-info {
    display: block !important;
    text-align: center;

    ul {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  //Slider
  .slider-sub-header {
    display: none;
  }
  .slider-header h1 {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .nav-fill .nav-item {
    text-align: left !important;
  }
}
