@media (max-width: 544px) {
  h1 {
    font-size: 18px !important;
  }
}

@media (max-width: 767.98px) {
  h1,
  h2,
  h3 {
    font-size: 22px;
  }
  .top-bar-wrap {
    display: block;
    text-align: center;
  }

  .l-logo-info,
  .address-info {
    display: block !important;
    text-align: center;

    ul {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  //Slider
  .slider-sub-header {
    display: none;
  }
}

@media (max-width: 992px) {
  .nav-fill .nav-item {
    text-align: left !important;
  }

  //Short Info on Index page
  .short-info {
    margin-top: 0 !important;

    .short-info-grid {
      grid-template-columns: 1fr !important;
    }
  }
}
