//Rotate square buttons
.rotary-btn {
  width: 80px;
  height: 80px;
  text-align: center;
  background: $color-blue;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border: 6px solid #fff;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  position: relative;
  @include TransitionLinear($time: 0.3s);
  margin: 20px;
  display: inline-block;

  img {
    text-align: center;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    margin: 0 auto;
    @include TransitionLinear($time: 0.5s);
    max-width: 100%;
    height: auto;
  }

  &:hover {
    background-color: $color-yellow;
    -webkit-box-shadow: 4px 0 25px 5px rgba(0, 0, 0, 0.1);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);

    img {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
    }
  }
}

//Read more button
a,
button {
  &.main-btn {
    position: relative;
    letter-spacing: 0.5px;
    overflow: hidden;
    @include TransitionLinear($time: 0.3s);
    text-transform: uppercase;
    line-height: normal;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    outline: none;
    z-index: 1;
    background-color: $color-yellow;
    color: $color-blue;
    border: 1px solid transparent;
    font-size: 13px;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

    span {
      margin: 0 0 0 40px;
    }

    &::after {
      content: "";
      position: absolute;
      @include TransitionLinear(0.3s);
      background: rgba(0, 0, 0, 0.1);
      width: 35%;
      height: 200%;
      z-index: 1;
      right: 0;
      top: 0;
      margin: -5px 0 0 -5px;
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-20deg);
      -moz-transform-origin: 0 0;
      -moz-transform: rotate(-20deg);
      -ms-transform-origin: 0 0;
      -ms-transform: rotate(-20deg);
      transform-origin: 0 0;
      transform: rotate(-20deg);
    }

    &:hover {
      color: #ffffff;
      background-color: $color-blue;
    }
  }
}

//Scroll to top
.top-btn {
  position: fixed;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 0;
  text-indent: 100%;
  z-index: 999;
  text-indent: -9999px;
  background-color: #333;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  border: 3px solid #fff;
  display: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background: #fff;
    @include easeOut();
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    background: url(img/top-arrow.png) no-repeat center;
    border-radius: 50%;
    @include easeOut();
    background-size: 50%;
  }

  &:hover {
    display: inline;
    &::before {
      width: 45px;
      height: 45px;
    }
    &::after {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
  }
}
