$main-bg: #fff;
$main-color: #000;
$color-blue: #01477f;
$color-yellow: #fec200;
$color-grey: #f5f5f5;
$main-font-size: 16px;

h1 {
  font-size: 2.14em;
}
h2 {
  font-size: 1.71em;
}
h3 {
  font-size: 1.43em;
}
h4 {
  font-size: 1.14em;
}

//MIxin TransitionLinear
@mixin TransitionLinear($time) {
  -webkit-transition: all $time linear;
  -moz-transition: all $time linear;
  -o-transition: all $time linear;
  -ms-transition: all $time linear;
  transition: all $time linear;
}

//Mixin on hover line from left to right
@mixin LineLeftToRight($color) {
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: $color;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 9;
    @include TransitionLinear($time: 0.3s);
  }

  &:hover::before {
    width: 100%;
  }
}

//Mixn for links
@mixin easeOut {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

//Responsive
@mixin mediaXS {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin mediaS {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin mediaMd {
  @media (max-width: 991.98px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: $main-font-size;
  background: $main-bg;
  color: $main-color;
  font-size: 14px;
  height: 100%;
}

@include mediaXS {
  h1,
  h2,
  h3 {
    font-size: 16px !important;
  }
}

@include mediaS {
  h1,
  h2,
  h3 {
    font-size: 22px;
  }
}
