header {
  font-size: $main_font_size - 2px;
}

//TOP BAR
.l-top-bar {
  background: $color_grey;
  padding: 10px 0;
}

//Logo And INfo for contacts
.l-logo-info {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
